
.inputBox {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 20px;
    width:90%;
    height: 50px;
    background: white;
    min-height: 10px;   

    .inputPrompt {
        border: 0px;
        width: 90%;
        height: 90%;
        font-size: 20px;
        // background: transparent;
        margin-left: 20px;
        outline: none;
        &:focus {
            border-color: transparent;
        }
        &::placeholder {
            font-size: 20px;
        }
    }   
    #submitPrompt {
        margin-right: 20px; /* Adjust margin as needed */
        font-size: 30px; /* Set the font size to make the icon bigger */
    }
}
