.round-button {
    border: none;
    border-radius: 50%; /* Make the button round */
    background-color: #007bff; /* Button background color */
    color: #fff; /* Text color */
    width: 75px; /* Button width */
    height: 75px; /* Button height */
    font-size: 1.2rem; /* Font size */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none; /* Remove outline on focus */
    &:hover {
        background-color: darkblue;
    }
}