.interact {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    position: relative;
    /* Otherstyles */
    .lecture {
        margin-left: 40px;
        margin-right: 40px;
        
    }
    .interactPrompt {
        position: fixed;
        bottom: 10px;
        display: flex;
        align-items: center;
        width: 60%;
        margin-bottom: 30px;
        margin-left: 30px;
        #buttonMic {
            margin-right: 30px;
        }

        #inputBox {
            flex: 1;
        }
    }

}